---
layout: page
title: Posts by Category
---
<ul>
{% for category in site.categories %}
  <li><a href="#{{ category[0] | slugify }}-ref">{{ category[0] }}</a> ({{ category[1].size }})</li>
{% endfor %}
</ul>

{% for category in site.categories %}
  <h2 id="{{ category[0] | slugify }}-ref">{{ category[0] }}</h2>
  <ul>
  {% for post in category[1] %}
    <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a> <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span></li>
  {% endfor %}
  </ul>
{% endfor %}
